<launch>
    <arg name="auto_takeoff" default="true"/>
    <arg name="speed" default="1.5"/>
    <arg name="yaw_rate" default="25.0"/>

    <node pkg="imu_gps_odometry" type="imu_gps_odometry" name="imu_gps_odometry" output="screen"/>
    <!-- <node pkg="controller_test" type="controller_test" name="controller_test" output="screen"/> -->

    <node pkg="debug" type="debug_node" name="debug_node" output="screen"/>
    <include file="$(find stereo_depth)/launch/stereo_depth.launch"/>
    <node pkg="my_drone" type="my_drone_node" name="my_drone_node" output="screen">
        <param name="auto_takeoff" value="$(arg auto_takeoff)"/>
        <param name="speed" value="$(arg speed)"/>
        <param name="yaw_rate" value="$(arg yaw_rate)"/>
    </node>
</launch>
